  <div class="box">
    <div class="container">
      <div>
        <%= render "filter" %>
      </div>
      <div class="row" id="products">
        <%= render "product", products: @products %>
      </div>
      <div class="shop_pagination">
        <div class="page_info">
          <%= page_entries_info @products %>
        </div>
        <%= will_paginate @products, :container => false %>
      </div>
    </div>
  </div>