<div class="box">
  <div class="container">
    <%= simple_form_for :product, url: products_path, method: "POST" do |f| %>
      <span>
        <div class="browse-wrap">
          <div class="title">Choose a file to upload</div>
          <%= f.input :file, as: :file, label: false, input_html: {accept: ('application/json')}, class: 'upload', required: true %>
        </div>
        <span class="upload-path"></span>
      </span>

      <%= f.submit 'Upload File', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>